.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* This ensures the container takes up at least the full viewport height */
}

body {
  margin: 15px;
}